.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    flex-direction: row;

  }
  
  .navLogo{display: flex;}

  .navLinksWrapper {
    display: flex;
    flex-direction: row;
  }
  
  .navLinks {
    display: flex;
    flex-direction: row;
  }
  
  .navLink {
    margin: 10px 0;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdownMenu {
   
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;}

  .dropdownMenu a {
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .dropdownMenu a:hover {
    background-color: #f5f5f5;
  }
  